/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// #include <dt-bindings/zmk/trackball_pim447.h> // for PIM447_MOVE and PIM447_SCROLL constants.

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";
		diode-direction = "col2row";

		col-gpios
			= <&pro_micro 4 (GPIO_ACTIVE_HIGH)>
			;
		row-gpios
			= <&pro_micro 5 (GPIO_ACTIVE_HIGH)>
			;
	};
};

&pro_micro_i2c {
	status = "okay";
	trackball_pim447@a {
		compatible = "pimoroni,trackball_pim447";
		reg = <0xa>;
		label = "TRACKBALL_PIM447";

		move-factor = <2>;
		invert-move-x;
		invert-move-y;
		scroll-divisor = <2>;
		invert-scroll-x;
		invert-scroll-y;
	};
};
