# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

<<<<<<<< HEAD:app/boards/arm/pillbug/Kconfig.board
config BOARD_PILLBUG
    bool "PillBug"
    depends on SOC_NRF52840_QIAA
========
if SHIELD_DEMO

config ZMK_KEYBOARD_NAME
    default "Demo"

endif
>>>>>>>> pim-demo:app/boards/shields/demo/Kconfig.defconfig
