/*
 * Copyright (c) 2021 Tom Butcher
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// Layer Defs
#define DFLT	0
#define QWERTY	1
#define FN		2
#define EMOJI	3 // Reserved for future use
#define NAV		4 
#define MOUSE	5 // Reserved for future use
#define NUM		6
#define CMP		7 // Reserved for future use
#define SYM		8
#define STAY	9

// Key defs--For use until AHK can be ditched
#define KP_EMJ	(F21)
#define KP_CMP	(F23)

#define HYPER	(LG(LA(LS(LCTRL))))

&mt {
	quick_tap_ms = <200>;
	retro-tap;
};
&lt {
	quick_tap_ms = <200>;
};

/ {

	behaviors {
		hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
			quick_tap_ms = <200>;
			retro-tap;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        comcol: comma_colon {
			compatible = "zmk,behavior-mod-morph";
			label = "COMMA_COLON";
			#binding-cells = <0>;
			bindings = <&kp COMMA>, <&kp F20>; // Use AHK to turn F20 into semicolon
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		dotcol: dot_colon {
			compatible = "zmk,behavior-mod-morph";
			label = "DOT_COLON";
			#binding-cells = <0>;
			bindings = <&kp DOT>, <&kp COLON>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		intbang: interobang {
			compatible = "zmk,behavior-mod-morph";
			label = "INTEROBANG";
			#binding-cells = <0>;
			bindings = <&kp QMARK>, <&kp EXCL>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		lgthan: less_greater_than {
			compatible = "zmk,behavior-mod-morph";
			label = "LESS_GREATER_THAN";
			#binding-cells = <0>;
			bindings = <&kp LT>, <&kp GT>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		dotcom: dot_comma {
			compatible = "zmk,behavior-mod-morph";
			label = "DOT_COMMA";
			#binding-cells = <0>;
			bindings = <&kp DOT>, <&kp F19>; // Use AHK to turn F19 into comma
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		zeroleft: zero_left_parenthesis {
			compatible = "zmk,behavior-mod-morph";
			label = "ZERO_LEFT_PARENTHESIS";
			#binding-cells = <0>;
			bindings = <&kp N0>, <&kp LPAR>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		bootsleep: bootloader_sleep {
			compatible = "zmk,behavior-mod-morph";
			label = "BOOTLOADER_SLEEP";
			#binding-cells = <0>;
			bindings = <&bootloader>, <&kp F24>; // Use AHK to turn F24 into Sleep Button
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
	};

    combos {
        compatible = "zmk,combos";
        combo_qwerty {
            timeout-ms = <50>;
            key-positions = <0 1>;  // Q & W
            bindings = <&tog QWERTY>;
        };
		combo_return {
            timeout-ms = <50>;
            key-positions = <8 9>;  // Y & '
            bindings = <&reset>;
        };
		combo_sleep {
            timeout-ms = <50>;
            key-positions = <6 7 8 9>;  // Y & '
            bindings = <&kp F24>;  		// Use AHK to turn F24 into Sleep Button
        };
    };

	keymap {
		compatible = "zmk,keymap";

				// ----------------------------------------------BLANK TEMPLATE----------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------



		default_layer { 
				label = "Default Layer";
				// -------------------------------------------------COLEMAK--------------------------------------------------
				// |  Q   |  W   |  F   |  P   |  B   |				                     |  J   |  L   |  U   |  Y   |  '"  |
				// |  A   |  R   |  S   |  T   |  G   |				                     |  M   |  N   |  E   |  I   |  O   |
				// |  Z   |  X   |  C   |  D   |  V   |             | Mute |             |  K   |  H   |  ,;  |  .:  |  /?  |  // In the future, maybe change back to interobang
				// |  Esc |------| Home | Left | Space| Tab  |      	          | Enter| Bspc | Rght |  End |------|  Del |
				// |----------------------------------| Left |  Up  | Enter| Down | Rght |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------

				// ------------------------------------------------HOLD LAYER------------------------------------------------
				// |      |      |      |      |      |				                     | Stay |      |      |      |      |
				// | LWin | LAlt | LShft| LCtrl| LCAlt|				                     | RCAlt| RCtrl| RShft| RAlt | RWin |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |  Fn  |------| LCtrl| Emoji| Nav  | Mouse|      	          | Num  | RShft| Cmp  | RWin |------| Media|
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------

			bindings = <
				&kp Q 	   &kp W      &kp F          &kp P           &kp B 						   				&kp J      		&kp L            &kp U       &kp Y      &lt STAY APOS
				&hm LWIN A &hm LALT R &hm LSHFT S    &hm LCTRL T     &mt LA(LCTRL) G 			   		  		&mt RA(RCTRL) M &hm RCTRL N      &hm RSHFT E &hm RALT I &hm RWIN O
				&kp Z      &kp X      &kp C          &kp D           &kp V 			       &kp C_MUTE	   		&kp K           &kp H            &comcol     &dotcol    &kp SLASH
				&lt FN ESC      	  &mt LCTRL HOME &mt KP_EMJ LEFT &lt NAV SPACE  &lt MOUSE TAB  &lt NUM RET  &mt RSHFT BSPC  &mt KP_CMP RIGHT &mt RWIN END           &lt SYM DEL
													 &kp LEFT		 &kp UP			&kp RET		   &kp DOWN		&kp RIGHT
			>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		qwerty_layer {
				// --------------------------------------------------QWERTY--------------------------------------------------
				// |  Q   |  W   |  E   |  R   |  T   |				                     |  Y   |  U   |  I   |  O   |  P   |
				// |  A   |  S   |  D   |  F   |  G   |				                     |  H   |  J   |  K   |  L   |  ;:  |
				// |  Z   |  X   |  C   |  V   |  B   |             | Mute |             |  N   |  M   |  ,<  |  .>  |  /?  |
				// |  Esc |------| Home | Left | Space| Tab  |      	          | Enter| Bspc | Rght |  End |------|  Del |
				// |----------------------------------| Left |  Up  | Enter| Down | Rght |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------

				// ------------------------------------------------HOLD LAYER------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// | LWin | LAlt | LShft| LCtrl| LCAlt|				                     | RCAlt| RCtrl| RShft| RAlt | RWin |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |  Fn  |------| LCtrl| Emoji| Nav  | Mouse|      	          | Num  | RShft| Cmp  | RWin |------| Media|
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------

			bindings = <
				&kp Q 	   &kp W      &kp E          &kp R          &kp T 						   		  &kp Y           &kp U         &kp I        &kp O          &kp P
				&kp A      &kp S      &kp D          &kp F          &kp G 						   		  &kp H 		  &mt RCTRL K   &mt RSHFT L  &mt RALT COLON &mt RWIN APOS
				&kp Z      &kp X      &kp C          &kp V          &kp B 			       &trans		  &kp N           &kp M         &kp COMMA    &kp DOT 	    &kp SLASH
				&trans     			  &trans	 	 &trans			&trans			&trans		  &trans  &trans          &trans        &trans                      &trans
													 &trans			&trans			&trans		  &trans  &trans
			>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		function_layer {
				label = "Function Layer";
				// -------------------------------------------------FUNCTION-------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------

			bindings = <
				&kp CAPS	&trans 		&trans	 		&trans		&trans								&bt BT_CLR	&kp F7 		&kp F8	 	&kp F9		&kp F12
				&kp LWIN	&kp LALT    &mt LSHFT LC(S)	&kp LCTRL	&kp HYPER							&bt BT_NXT	&kp F4		&kp F5 		&kp F6 		&kp	F11
				&kp LC(Z)	&kp LC(X)	&kp LC(C)		&kp LC(V)	&kp LC(Y)   	&bootsleep			&bt BT_PRV	&kp F1		&kp F2		&kp F3		&kp F10
				&tog FN					&kp C_PREV	&kp C_PP	&kp C_NEXT	&trans		&kp C_PREV	&kp C_PP	&kp C_NEXT	&trans					&trans
															&trans		&trans		&trans		&trans		&trans
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		emoji_layer { // todo: Unicode (including emoji) not yet implemented in ZMK. Maybe try using AHK in the meantime?
				// --------------------------------------------------EMOJI---------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp Q		&trans		&trans		&trans		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans 		&trans 		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans		&trans		&trans			  &trans			&trans		&trans		&trans		&trans		&trans
				&to DFLT				&trans		&tog EMOJI	&trans		&trans		&trans		&trans		&trans		&trans					&trans
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		navigation_layer {
				// ------------------------------------------------NAVIGATION------------------------------------------------
				// |      |      |      |      |      |				                     | PgUp | Home |  Up  | End  |  =+  |
				// |      |      |      |      |      |				                     | PgDn | Left | Down | Right|NxtTab|
				// |      |      |      |      |      |             |Scroll|             |      |CtlLft|      |AltRgt|  -_  |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&trans		&trans		&trans		&trans		&trans								&kp PG_UP	&kp HOME	&kp UP		&kp END		&kp EQUAL
				&kp LWIN	&kp LALT  &mt LSHFT LC(S) &kp LCTRL	&kp HYPER							&kp PG_DN	&kp LEFT	&kp DOWN 	&kp RIGHT	&kp RC(TAB)
				&kp LC(Z)	&kp LC(X)	&kp LC(C)	&kp LC(V)	&kp LC(Y)		    &trans			&trans		&kp LC(LEFT) &trans		&kp LC(RIGHT)  &kp MINUS
				&to DFLT				&trans		&trans		&tog NAV	&trans		&trans		&trans		&trans		&trans					&trans
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp LA(TAB) LA(LS(TAB))>; // Alt-Tab & Shift-Alt-Tab
		};

		mouse_layer {  // todo: Mouse not yet implemented in ZMK. Maybe try using AHK in the meantime?
				// --------------------------------------------------MOUSE---------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp Q		&trans		&trans		&trans		&trans								&kp F18		&kp KP_N7	&kp KP_N8	&kp KP_N9	&trans
				&kp LWIN	&kp LALT	&kp LSHFT	&kp LCTRL	&kp HYPER							&kp F17		&kp KP_N4	&kp KP_N5	&kp KP_N6	&trans
				&kp LC(Z)	&kp LC(X)	&kp LC(C)	&kp LC(V)	&kp LC(Y)		  &trans			&trans		&kp KP_N1	&kp KP_N2	&kp KP_N3	&trans
				&to DFLT				&trans		&trans		&trans	&tog MOUSE	 &kp KP_DIVIDE  &kp KP_MINUS &kp KP_MULTIPLY &trans				&trans    // kp N0 & ADD are still available
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		number_layer {
				// --------------------------------------------------NUMBER--------------------------------------------------
				// |  [{  |  7&  |  8*  |  9(  |  -_  |				                     |  [{  |  7&  |  8*  |  9(  |  -_  |
				// |  ]}  |  4$  |  5%  |  6^  |  =+  |				                     |  ]}  |  4$  |  5%  |  6^  |  =+  |
				// |  <>  |  1!  |  2@  |  3#  |  \|  |             |      |             |  <>  |  1!  |  2@  |  3#  |  \|  |
				// | LAlt |------|  .,  |  0(  |  0)  |      |      	          |      |  0(  |  0)  |  .,  |------|RShift|
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp LBKT	&kp N7		&kp N8		&kp N9		&kp MINUS						&trans		&trans		&trans		&trans		&trans     //	&kp LBKT	&kp KP_N7	&kp KP_N8	&kp KP_N9	&kp MINUS
				&kp RBKT	&kp N4		&kp N5		&kp N6		&kp EQUAL						&kp HYPER	&kp RCTRL	&kp RSHFT	&kp RALT	&kp RWIN   //	&kp RBKT	&kp KP_N4	&kp KP_N5	&kp KP_N6	&kp EQUAL
				&lgthan		&kp N1		&kp N2		&kp N3		&kp BSLH		  &trans		&trans		&trans		&trans		&trans		&trans     //	&lgthan		&kp KP_N1	&kp KP_N2	&kp KP_N3	&kp BSLH
				&to DFLT				&dotcom		&kp SPACE	&zeroleft	&kp N0	   &tog NUM &kp RSHFT	&trans		&trans					&trans     //	&zeroleft	&kp KP_N0	&dotcom					&kp RSHFT
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		compose_layer { // todo: unicode not yet implemented in ZMK. Maybe try using AHK in the meantime?
				// -------------------------------------------------COMPOSE--------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp Q		&trans		&trans		&trans		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans 		&trans 		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans		&trans		&trans			  &trans			&trans		&trans		&trans		&trans		&trans
				&to DFLT				&trans		&trans		&trans		&trans		&trans		&trans		&trans		&tog CMP				&trans
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		symbol_layer {
				// --------------------------------------------------MEDIA---------------------------------------------------
				// |  {   |  &   |  *   |  (   |  _   |				                     |      |      |      |      |      |
				// |  }   |  $   |  %   |  ^   |  +   |				                     |      |      |      |      |      |
				// |  <>  |  !   |  @   |  #   |  |   |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp LS(LBKT)	&kp LS(N7)	&kp LS(N8)	&kp LS(N9)	&kp LS(MINUS)						&trans		&trans		&trans		&trans		&trans   //	&kp LBKT	&kp KP_N7	&kp KP_N8	&kp KP_N9	&kp MINUS
				&kp LS(RBKT)	&kp LS(N4)	&kp LS(N5)	&kp LS(N6)	&kp LS(EQUAL)						&trans		&trans		&trans		&trans		&trans   //	&kp RBKT	&kp KP_N4	&kp KP_N5	&kp KP_N6	&kp EQUAL
				&lgthan			&kp LS(N1)	&kp LS(N2)	&kp LS(N3)	&kp LS(BSLH)	  &trans			&trans		&trans		&trans		&trans		&trans   //	&lgthan		&kp KP_N1	&kp KP_N2	&kp KP_N3	&kp BSLH
				&to DFLT					&dotcom		&trans		&kp LS(N9)	  &kp LS(N0)  &trans	&trans		&trans		&trans					&tog SYM   //	&zeroleft	&kp KP_N0	&dotcom					&kp RSHFT
																&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};

		stay_layer {
				// --------------------------------------------------MEDIA---------------------------------------------------
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |				                     |      |      |      |      |      |
				// |      |      |      |      |      |             |      |             |      |      |      |      |      |
				// |      |------|      |      |      |      |      	          |      |      |      |      |------|      |
				// |----------------------------------|      |      |      |      |      |----------------------------------|
				// ----------------------------------------------------------------------------------------------------------


			bindings = <
				&kp Q		&trans		&trans		&trans		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans 		&trans 		&trans								&trans		&trans		&trans		&trans		&trans
				&trans		&trans		&trans		&trans		&trans			  &trans			&trans		&trans		&trans		&trans		&trans
				&tog FN					&trans		&tog EMOJI	&tog NAV		&tog MOUSE	&tog NUM &trans		&tog CMP	&trans				&tog SYM
															&trans		&trans		&trans		&trans		&trans
				>;

			sensor-bindings = <&inc_dec_kp F17 F18>; // Use AHK to turn F17 & F18 to Wheel Up/Down
		};
	};
};
